@import '../../../style/colors.scss';

.establishment {
  font-weight: 700;
}

.location {
  margin-left: 0.75em;
}

.title {
  margin-top: 0.5em;
  padding-bottom: 1.5em;

  strong {
    font-weight: 700;
    color: $color-primary;
  }

  svg {
    color: $color-black;
  }

  p {
    margin-bottom: 0;
  }

  ul {
    list-style-type: disc;
    padding-inline-start: 1.5em;
  }
}
