@import '../../../style/colors.scss';

.establishment {
  font-weight: 700;
}

.location {
  margin-left: 0.75em;
}

.title {
  // font-weight: 700;

  strong {
    font-weight: 700;
    color: $color-primary;
  }

  svg {
    color: $color-black;
  }
}
