@import '../../../style/colors.scss';

.company {
  font-weight: 700;
}

.location {
  margin-left: 0.75em;
}

.position {
  font-weight: 700;
  color: $color-primary;

  svg {
    color: $color-black;
  }
}

.content {
  margin-top: 0.5em;
  padding-bottom: 1.5em;

  p {
    margin-bottom: 0;
  }

  ul {
    list-style-type: disc;
    padding-inline-start: 1.5em;
  }
}
